*{
    margin: 0;
    padding: 0;
}

header{
    background-color: white;
    padding: 21px 0 26px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav ul li{
    margin-left: 42px;
}

header nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 27px;
    color: #afafaf;
    line-height: 27px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: 0.3s;
}

header nav a:hover, header nav a.active:after{
    color: #48a4d0;
}