@font-face {
    font-family: 'Goldplay';
    src: url('../fonts/Goldplay-SemiBold.eot');
    src: url('../fonts/Goldplay-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Goldplay-SemiBold.woff2') format('woff2'),
    url('../fonts/Goldplay-SemiBold.woff') format('woff'),
    url('../fonts/Goldplay-SemiBold.ttf') format('truetype'),
    url('../fonts/Goldplay-SemiBold.svg#Goldplay-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
}

header{
    background-color: white;
    padding: 21px 0 26px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav ul li{
    margin-left: 42px;
}

header nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #afafaf;
    line-height: 13px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: 0.3s;
}

header nav a:hover, header nav a.active:after{
    color: #48a4d0;
}

.btns{
    display: flex;
}

header a{
    display: flex;
    justify-content: space-between;
}
.buttons{
    height: 38px;
    width: 115px;
    border: solid 1px #00aac6;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: #00aac6;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.applybtn{
    width: 125px;
    color: white;
    background: linear-gradient(to right, #72bec1, #64a8c6);
}

.get_started{
    height: 675px;
    background-image: url("../images/get_started.png");
    background-size: cover;
}

.get_started_p{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.get_started h1{
    font-family: Goldplay;
    font-size: 54px;
    line-height: 54px;
    color: white;

}

.get{
    height: 55px;
    width: 255px;
    border-radius: 5px;
    background-color: white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-family: Goldplay;
    line-height: 12px;
    margin-top: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #24b0ca;
/*
align-items: center;
justify-content: center;
margin-left: 10px;*/
}